<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="keywords" content="">

    <title>{{ page.title }}</title>

    <!-- Styles -->
    <link href="assets/css/page.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">

    <!-- Favicons -->
    <link rel="apple-touch-icon" href="assets/img/thaleria-touch-icon.png">
    <link rel="icon" href="assets/img/thaleria-favicon.png">

    <!-- CMS -->
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>

<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light navbar-stick-light bg-royal-blue" data-navbar="smart">
      <div class="container">
  
        <div class="navbar-left mr-4">
          <button class="navbar-toggler" type="button">&#9776;</button>
          <a class="navbar-brand" href="#">
            <img class="logo-dark" src="assets/img/logo/thaleria-logo-blue.png" alt="logo">
            <img class="logo-light" src="assets/img/logo/thaleria-logo-white.png" alt="logo">
          </a>
        </div>
  
        <section class="navbar-mobile">
          <nav class="nav nav-navbar mr-auto">
            <a class="nav-link active" href="index.html">Home</a>
            <a class="nav-link" href="about-us.html">About us</a>
            <a class="nav-link" href="services.html">Services</a>
            <a class="nav-link" href="careers.html">Join us</a>
            <a class="nav-link" href="contact.html">Contact</a>
          </nav>
  
      </div>
    </nav><!-- /.navbar -->

{{ content }}

<!-- Footer -->
<footer class="footer bg-royal-blue">
    <div class="container text-white">
        <div class="row gap-y align-items-center">

            <div class="col-md-3 text-center text-md-left">
                <a href="#"><img src="assets/img/logo/thaleria-logo-white.png" alt="logo"></a>
            </div>

            <div class="col-md-6">
                <div class="nav nav-center">
                    <a class="nav-link" href="about-us.html">About Us</a>
                    <a class="nav-link" href="services.html">Services</a>
                    <a class="nav-link" href="careers.html">Join Us</a>
                    <a class="nav-link" href="contact.html">Contact</a>
                </div>
            </div>

            <div class="col-md-3 text-center text-md-right">
                <small>Thaleria© 2018. All rights reserved.</small>
            </div>

        </div>
    </div>
</footer><!-- /.footer -->


<!-- Scripts -->
<script src="assets/js/page.min.js"></script>
<script src="assets/js/script.js"></script>

</body>

</html>